<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />
        <script src="/canvas.js"></script>
        <script src="/pencil.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            //var socket = io('/g/'+"<%= guid %>");
            var socket = io();
            function creategame () {
                socket.emit('create', "<%= guid %>");
            }

        </script>
        <style>
            *.unselectable, #server-time, textarea {
                -moz-user-select: -moz-none;
                -khtml-user-select: none;
                -webkit-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
            
            canvas {
                cursor: crosshair;
            }
            body {
                overflow-x:hidden;
            }
        </style>
    </head>
    <body>
        <%= guid %>
        <div id="paint">
            <canvas style="border: solid 1px #000;" id="myCanvas"></canvas>
        </div>
        <input type="button" id="clear" value="clear">
        <input type="button" id="reset" value="reset">
        <input type="button" onclick="creategame('<%= guid %>')">
        <p id='server-time'></p>
        <textarea rows='15' id="score" disabled></textarea>
        <textarea rows='15' id="notification" disabled></textarea>
        <script>
            var el = document.getElementById('server-time');
            socket.on('time', function(timeString) {
                el.innerHTML = 'Server time: ' + timeString;
            });
        </script>
    </body>
</html>